<div class="navbarcolor">
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/welcome" style="color: white" href="#">Homepage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/moreinfo" href="#" style="color: black;">Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/schedule" href="#" style="color: black;">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bulletin" href="#" style="color: black;">Bulletin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/biodata" href="#" style="color: black;">About us</a>
    </li>

    <!-- <li class="nav-item" onclick="window.open('https://www.facebook.com/swcorpperlis/')">
      <a class="nav-link"  href="#">FB test</a>
    </li>
    <li class="nav-item" onclick="window.open('https://goo.gl/maps/MBnRWNDd19Qu1x7VA')">
      <a class="nav-link"  href="#">Visit us!</a>
    </li> -->
    <li class="nav-item ml-auto"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/uncommonwaste" href="#" style="color: black;">uncommon</a>
    </li>

      <!-- <input type="text" placeholder="Search...">
      <button type="submit">Go</button> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/location" href="#" style="color: black;">Visit us!</a>
    </li>
  </ul>
</div>