<app-navbar></app-navbar>
<div class="boxhead"></div>
  
<!-- Code starts -->
<html>

<head>
    
</head>

<body>

    <div class="section-1">
        <div class="grassimg">
            <img src="assets/images/grass.png" alt="Image">
        </div>
        <!-- <div class="backgroundimage">
        <img src="assets/images/hero-1.png" alt="Image" class="md:ml-auto block md:h-full">
    </div> -->
        <div class="title">
            <!-- <p class="mt-0 mb-4 text-700 line-height-3"></p> -->
            <div class="text-center md:text-centerflex align-items-left">
                <span class="text-7xl text-primary font-bold mb-3 line-height-3">Waste Management</span>
                <div class="subtitle">
                    <div class="mt-0 mb-4 text-700 line-height-3">Making the World cleaner and better</div>
                </div>
            </div>
        </div>
        <!-- <div class="cleaningimage">
        <img src="assets/images/cleanupdayfunholidays.jpg" alt="Image">
    </div> -->

        <div class="box"></div>
        <!-- <div class="subtitle">
            <div class="mt-0 mb-4 text-700 line-height-3 text-center">Making the World cleaner and better</div>
        </div> -->
        <div class="box"></div>
        <div class="box"></div>
    </div>
<div class="gambar">
    
</div>
    <div class="section-2">
        <div class="px-4 py-8 md:px-6 lg:px-8 text-center">
            <div class="mb-3 font-bold text-3xl">
                <span class="text-900">Towards the clean environment in our </span>
                <span class="text-blue-600"> SOCIETY</span>
            </div>
            <div class="text-700 mb-6">Not just Reduce, Reuse, Recycle. </div>
            <div class="grid">
                <div class="col-12 md:col-6 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-desktop text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Who we are</div>
                    <span class="text-100 line-height-3">Get to know us, and how your waste processed.</span>
                </div>
                <div class="col-12 md:col-6 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-lock text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Safe and Sound</div>
                    <span class="text-100 line-height-3">Our organization continuously working with legitimate bodies to 
                        collect and channel it to be managed safely.
                    </span>
                </div>
                <div class="col-12 md:col-6 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-check-circle text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Up-to-Date</div>
                    <span class="text-100 line-height-3">Our web are constantly updated so that you can access
                        the information faster.
                    </span>
                </div>
                <div class="col-12 md:col-6 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-globe text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Everywhere, Anywhere</div>
                    <span class="text-100 line-height-3">Everything is at the tip of your finger. Get to know who we are!</span>
                </div>
                <!-- <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-github text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
                    <span class="text-100 line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam
                        donec adipiscing tristique risus nec feugiat. </span>
                </div>
                <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-shield text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>
                    <span class="text-100 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus
                        metus aliquam eleifend.</span>
                </div> -->
            </div>
        </div>
    </div>
<div class="divmaps">
    <div class="col-12 md:col-6 mb-4 px-5">
        <div class="text-400 text-3xl mb-3">Our location</div>
        <div class="text-100 line-height-3">Waste Management Co.,</div>
        <div class="text-100 line-height-3">Universiti Malaysia Perlis,</div>
        <div class="text-100 line-height-3">Exit Lebuhraya Changlun - Kuala Perlis,</div>
        <div class="text-100 line-height-3">02600 Arau, Perlis.</div>
        <div class="text-100 line-height-3"></div>
    </div>
    <div class="maps">
        <div class="col-12 mb-4 px-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15857.928700725271!2d100.34705925646178!3d6.460430055418748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ca358dcb2b3fd%3A0x8ed2c725d247c7e!2sUniversiti%20Malaysia%20Perlis%20(UniMAP)!5e0!3m2!1sen!2smy!4v1677867355593!5m2!1sen!2smy" width="500" height="250"></iframe>
        </div>
    </div>
    </div>

<div class="section-3">
    <div class="text-center md:text-center center-flex">
      <div class="text-7xl text-primary font-bold mb-3">Waste Management</div>
      <div class="text-100">Open Sourced Project</div>
      <div class="mt-0 mb-4 font-medium leading-3">Provided by us</div>
      <div>"Making the World cleaner and better"</div>
      <div class="box"></div></div>
    </div>
</body>
  </html>